footer {
  background-color: #000000;
}
.copy-container {
  max-width: 1440px;
  padding: 1.875rem 4rem;
  margin: 0 auto;
}
footer h3 {
  color: #cccccc;
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 1100px) {
  .copy-container {
    padding: 1.875rem 2rem;
  }
  footer h3 {
    font-size: 0.875rem;
  }
}
